@import '~@angular/material/theming';

$customPrimary: (
        50: #36b5fd,
        100: #1dacfc,
        200: #03a3fc,
        300: #0392e3,
        400: #0282ca,
        500: #0272B1,
        600: #026298,
        700: #01517f,
        800: #014165,
        900: #01314c,
        A100: #4fbefd,
        A200: #68c8fd,
        A400: #81d1fe,
        A700: #012133,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $light-primary-text,
                400: $light-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$customAccent: (
        50: #665200,
        100: #806600,
        200: #997a00,
        300: #b38f00,
        400: #cca300,
        500: #e6b800,
        600: #ffd11a,
        700: #ffd633,
        800: #ffdb4d,
        900: #ffe066,
        A100: #ffd11a,
        A200: #FFCC00,
        A400: #e6b800,
        A700: #ffe680,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $dark-primary-text,
                900: $dark-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        )
);
