<div class="events-container">

    <mat-expansion-panel expanded="expanded">
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                Edit tasks
            </mat-panel-title>
            <mat-panel-description class="title">Total worked hours: {{ totalHours }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end" class="toolbar">
            <button mat-flat-button
                    color="primary"
                    (click)="addEvent.emit()">
                Add task
                <mat-icon>add</mat-icon>
            </button>
            <button mat-flat-button
                    color="primary"
                    (click)="sendEvent.emit()">
                Send report
                <mat-icon>send</mat-icon>
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Project</th>
                    <th>Assignment Type</th>
                    <th>Task Description</th>
                    <th>Remove</th>
                </tr>
                </thead>

                <tbody>
                <ng-container *ngFor="let event of events">
                    <tr *ngIf="sameMonth(event)">
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Date</mat-label>
                                <input matInput
                                       (click)="picker1.open()"
                                       [ngxMatDatetimePicker]="picker1"
                                       [(ngModel)]="event.start"
                                       (ngModelChange)="refresh.next()"
                                       placeholder="Not set"
                                />
                                <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #picker1>
                                </ngx-mat-datetime-picker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Hours</mat-label>
                                <input matInput [value]="calcDuration(event)" readonly>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Project</mat-label>
                                <input matInput [value]="event.meta?.project">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Assignment type</mat-label>
                                <input matInput [value]="event.meta?.task?.name">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Task Description</mat-label>
                                <input placeholder="Not set" matInput [(ngModel)]="event.title"
                                       (keyup)="refresh.next()">
                            </mat-form-field>
                        </td>
                        <td align="center">
                            <button color="primary" mat-icon-button (click)="deleteEvent.emit(event)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</div>
