<mat-toolbar color="primary" class="expanded-toolbar">
    <a routerLink="/" class="title"
       fxLayout="row"
       fxLayoutAlign="start center">
        <img src="assets/images/bairesdev-logo-white.png" width="148" height="30" alt="bairesdev logo"/>
        <span>{{title}}</span>
    </a>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
            <mat-icon>power_settings_new</mat-icon>
            Login
        </button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
        </button>
        <button mat-button routerLink="/timetracker">
            <mat-icon>edit_calendar</mat-icon>
            Track hours
        </button>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="8px">
            <mat-icon title="Light mode">brightness_5</mat-icon>
            <mat-slide-toggle [formControl]="toggleControl" title="Toggle theme">
            </mat-slide-toggle>
            <mat-icon title="Dark mode">bedtime</mat-icon>
        </div>
        <button mat-button [matMenuTriggerFor]="menu2"
                [matMenuTriggerRestoreFocus]="true"
                title="Settings" *ngIf="isAuthenticated">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="openPrefs()">
                <mat-icon>settings</mat-icon>
                My preferences
            </button>
            <button mat-menu-item (click)="resetNotifications();">
                <mat-icon>alarm_on</mat-icon>
                Reset notifications
            </button>
            <ng-container *ngIf="isAuthenticated && isAdmin">
                <mat-divider></mat-divider>
                <button mat-menu-item routerLink="/admin">
                    <mat-icon>verified_user</mat-icon>
                    Admin area
                </button>
            </ng-container>
        </mat-menu>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <div mat-menu-item>
        <mat-checkbox [formControl]="toggleControl">Dark theme</mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button mat-menu-item routerLink="/timetracker">
        <mat-icon>edit_calendar</mat-icon>
        Track hours
    </button>
    <button mat-menu-item (click)="openPrefs()" *ngIf="isAuthenticated">
        <mat-icon>settings</mat-icon>
        My preferences
    </button>
    <button mat-menu-item (click)="resetNotifications()" *ngIf="isAuthenticated">
        <mat-icon>alarm_on</mat-icon>
        Reset notifications
    </button>
    <button mat-menu-item routerLink="/admin" *ngIf="isAuthenticated && isAdmin">
        <mat-icon>verified_user</mat-icon>
        Admin area
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
        <mat-icon>power_settings_new</mat-icon>
        Login
    </button>
    <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>
</mat-menu>
<div class="container">
    <router-outlet></router-outlet>
</div>
