<div class="container">
    <app-time-navigator
            [(view)]="view"
            [(viewDate)]="viewDate"
            locale="en"
    ></app-time-navigator>
    <app-calendar
            [events]="events"
            [actions]="actions"
            [activeDayIsOpen]="activeDayIsOpen"
            [(view)]="view"
            [(viewDate)]="viewDate"
            [refresh]="refresh"
            (dayClicked)="dayClicked($event)"
            (eventClicked)="handleEvent('Clicked', $event)"
            (eventTimesChanged)="eventTimesChanged($event)"
    ></app-calendar>
    <app-time-events [events]="events"
                     [refresh]="refresh"
                     (deleteEvent)="deleteEvent($event)"
                     (addEvent)="addEvent()">
    </app-time-events>
</div>
