<app-time-navigator
        [(minHour)]="minHour"
        [(maxHour)]="maxHour"
        [(view)]="view"
        [(viewDate)]="viewDate"
        (toggleDays)="toggleDays()"
        locale="en"
></app-time-navigator>
<app-calendar
        [events]="events"
        [actions]="actions"
        [activeDayIsOpen]="activeDayIsOpen"
        [(view)]="view"
        [(viewDate)]="viewDate"
        [refresh]="refresh"
        [excludeDays]="excludeDays"
        [minHour]="minHour"
        [maxHour]="maxHour"
        (doubleClick)="createEvent()"
        (dayClicked)="dayClicked($event)"
        (eventClicked)="handleEvent($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
></app-calendar>
<app-time-events [events]="sortedEvents"
                 [viewDate]="viewDate"
                 [refresh]="refresh"
                 (deleteEvent)="deleteEvent($event)"
                 (addEvent)="createEvent()"
                 (sendEvent)="sendEvents()"
                 (saveEvents)="saveEvents(true)">
</app-time-events>
