<div class="nav-container">
    <div fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center"
         fxLayout.xs="column"
         fxLayoutGap="16px"
         fxLayoutAlign.xs="center center">
        <mat-button-toggle-group name="nav" aria-label="Navigator" value="Today" appearance="legacy">
            <mat-button-toggle value="Previous"
                               mwlCalendarPreviousView
                               [view]="view"
                               [(viewDate)]="viewDate"
                               (viewDateChange)="viewDateChange.next(viewDate)"
            >Previous
            </mat-button-toggle>
            <mat-button-toggle value="Today"
                               class="btn btn-outline-secondary"
                               mwlCalendarToday
                               [(viewDate)]="viewDate"
                               (viewDateChange)="viewDateChange.next(viewDate)">Today
            </mat-button-toggle>
            <mat-button-toggle value="Next"
                               mwlCalendarNextView
                               [view]="view"
                               [(viewDate)]="viewDate"
                               (viewDateChange)="viewDateChange.next(viewDate)">Next
            </mat-button-toggle>
        </mat-button-toggle-group>
        <h1>Hours from {{ viewDate | calendarDate: (view + 'ViewTitle'):locale }}</h1>
        <mat-button-toggle-group name="view" aria-label="Calendar View" value="Month" fxHide.xs appearance="legacy">
            <mat-button-toggle value="Month"
                               (click)="changeView(CalendarView.Month)"
                               [class.active]="view === CalendarView.Month">Month
            </mat-button-toggle>
            <mat-button-toggle value="Week"
                               (click)="changeView(CalendarView.Week)"
                               [class.active]="view === CalendarView.Week">Week
            </mat-button-toggle>
            <mat-button-toggle value="Day"
                               (click)="changeView(CalendarView.Day)"
                               [class.active]="view === CalendarView.Day">Day
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
