h1 {
  margin: 0;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}

.margin-16 {
  margin-bottom: 16px;
}

.nav-container {
  @extend .margin-16;
}

::ng-deep .custom-slider {
  .ngx-slider {
    .ngx-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }

    .ngx-slider-selection {
      background: orange;
    }

    .ngx-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .ngx-slider-pointer:after {
      display: none;
    }

    .ngx-slider-bubble {
      bottom: 14px;
      font-size: 0.75rem;
    }

    .ngx-slider-limit {
      font-weight: bold;
      color: orange;
    }
  }
}
