<div class="cal-container mat-elevation-z1">
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dblclick)="$event.preventDefault(); doubleClick.emit()"
                (dayClicked)="dayClicked.emit($event.day)"
                (eventClicked)="eventClicked.emit($event.event)"
                (eventTimesChanged)="eventTimesChanged.emit($event)"
                [openDayEventsTemplate]="openDayEventsTemplate"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [dayEndHour]="18"
                [dayStartHour]="8"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (dblclick)="$event.preventDefault(); doubleClick.emit()"
                (eventClicked)="eventClicked.emit($event.event)"
                (eventTimesChanged)="eventTimesChanged.emit($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [dayEndHour]="18"
                [dayStartHour]="8"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (dblclick)="$event.preventDefault(); doubleClick.emit()"
                (eventClicked)="eventClicked.emit($event.event)"
                (eventTimesChanged)="eventTimesChanged.emit($event)"
        >
        </mwl-calendar-day-view>
    </div>
</div>

<ng-template
    #openDayEventsTemplate
    let-isOpen="isOpen"
    let-events="events"
    let-eventClicked="eventClicked">
    <div class="cal-open-day-events"  *ngIf="isOpen"
    fxLayout="column"
    fxLayoutGap="8px">
        <div
                *ngFor="let event of events"
                [ngClass]="event?.cssClass"
                mwlDraggable
                [dropData]="{event: event}"
                [dragAxis]="{x: event.draggable, y: event.draggable}">
        <span
                class="cal-event"
                [style.backgroundColor]="event.color.primary">
        </span>
            <mwl-calendar-event-title
                    [event]="event"
                    [customTemplate]="eventTitleTemplate"
                    view="month"
                    (mwlClick)="eventClicked.emit({event: event})">
            </mwl-calendar-event-title>
            <mwl-calendar-event-actions [event]="event"></mwl-calendar-event-actions>
        </div>
        <div>
            <b>Hours worked: {{ totalHours(events) }}</b>
        </div>
    </div>
</ng-template>

<ng-template
    #eventTitleTemplate
    let-event="event">
    {{ event.title }}
</ng-template>
