/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "app/styles/calendar";

body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    text-align: center;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
