@import 'app/styles/variables';

@include mat-core();

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($customPrimary);
$my-custom-accent: mat-palette($customAccent, 100, 500, A100);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

// Convert => mat-light-theme()
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent);

// Convert to this => mat-dark-theme()
$my-custom-theme: mat-dark-theme($my-custom-primary, $my-custom-accent);
